@import "../index.css";

.table-container {
    @apply w-full flex items-center py-4;
}

.ag-grid-container {
    width: 100%;
    min-width: 1400px;
}

/* 숨겨진 파일 input */
.hidden-file-input {
    display: none;
}

/* ag-grid 컨테이너 */
.ag-grid-container {
    height: 600px;
    width: 100%;
}

.ag-theme-custom .ag-cell:focus,
.ag-theme-custom .ag-cell-focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.ag-theme-custom {
    /* 전체 배경 및 기본 폰트색 */
    --ag-background-color: #1d2025;
    --ag-foreground-color: #f9fafb;

    /* 헤더 */
    --ag-header-height: 50px;
    --ag-header-background-color: #13151a;
    --ag-header-foreground-color: #e5e7eb;

    /* 테두리 */
    --ag-border-color: #353c46;

    /* 행 호버 시 배경 */
    --ag-row-hover-color: #374151;

    /* 선택된 행 배경 */
    --ag-selected-row-background-color: #67696e;

    /* 폰트 및 기타 색상 */
    --ag-font-size: 14px;
    /* --ag-odd-row-background-color: #13151a; */
    --ag-even-row-background-color: #13151a;
    --ag-row-border-color: #374151;

    /* 체크박스 커스텀 */
    --ag-checkbox-background-color: #111827;
    --ag-checkbox-checked-color: #3b82f6;
}

/* Material 테마 헤더 폰트 색상 커스터마이징 */
.ag-theme-custom .ag-header-cell {
    color: #9ca3af !important; /* 옅은 회색 */
}

.ag-theme-custom .ag-header-cell-label {
    color: #9ca3af !important; /* 옅은 회색 */
}

.ag-theme-custom .ag-header-cell-text {
    color: #9ca3af !important; /* 옅은 회색 */
}


/* 🌙 스크롤바 다크 테마 */
.ag-theme-custom ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.ag-theme-custom ::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 6px;
}

.ag-theme-custom ::-webkit-scrollbar-track {
    background-color: #111821;
}

.ag-header-cell {
    text-align: center !important;
}

.ag-cell {
    text-align: center !important;
}

.ag-header-cell-label {
    justify-content: center !important;
}

/* 체크박스 가운데 정렬 */
.ag-cell[col-id="checkbox"] {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ag-header-cell[col-id="checkbox"] {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ag-header-cell[col-id="checkbox"] .ag-checkbox {
    margin: 0 auto 0 7px !important;
}

.ag-cell[col-id="checkbox"] .ag-checkbox {
    margin: 0 auto 0 7px !important;
}